@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Grenze+Gotisch:wght@600&family=Source+Sans+Pro:wght@400;700&display=swap');
*{
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb(37, 37, 37);
}

html, body{
	margin: 0;
	padding: 0;
}
.nav ul{
	margin: 0;
}
.nav li{
	display: inline;
}
.nav a{
	display: inline-block;
	padding: .5em;
	color: white;
	text-decoration: none;

}
.nav a:hover{
	background-color: rgba(255, 255, 255, .3);
}
.main-nav{
	text-align: center;
	font-size: 1.2em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.main-nav li{
	padding:0 5%;
}
.main-header{
	background-color: rgba(0, 0, 0, .3);
	background-image: url("Images/Steag.jpg");
	background-blend-mode: multiply;
	background-size: cover;
	padding-bottom: 30px;
}

.fest-name{
	text-align: center;
	margin: 0;
	font-size: 3em;
	font-family: 'Grenze Gotisch', cursive;
	color: lightgreen;
}
.fest-name-large{
	font-size: 7em;
	color:rgb(0, 170, 0);
}

.contend-section {
	margin: 1em;

}
.container{
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 1.5em;
	font-size: 1.5em;
}
.section-header{
	font-family: 'Grandstander', cursive;
	color: #333;
	text-align: left;
	font-size: 2em;
}
.section-header-contact{
	font-family: 'Grandstander', cursive;
	color: #333;
	text-align: center;
	font-size: 2em;
}

.section-header-foto{
	font-family: 'Grandstander', cursive;
	color: #333;
	text-align: center;
	font-size: 2em;
	border-bottom: 3px solid #333;
	padding-bottom: 10px;
}

.container-gallery{
	width: 90%;
    height: 80vh;
    margin: auto;
    position: relative;
}
.container-gallery .image{
    display: none;
}

.container-gallery .image img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
}

.container-gallery .button{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.container-gallery .button a{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    user-select: none;
}

.container-gallery .button .prev{
    border-radius: 0 5px 5px 0;
}

.container-gallery .button .next{
    border-radius: 5px 0 0 5px;
}
.dots{
    text-align: center;
    position: absolute;
    bottom: 8px;
    left: 45%;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    height: 30px;
    border-radius: 15px;

}

.dot{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #bbb;
    display: inline-block;
    margin: 0 2px;
}

.active, .dot:hover{
    background: rgb(41, 195, 247);
}

section-contact {
	height: 100vh;
	width: 100%;
	background-color: aliceblue;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
  .container-contact {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 20px #00000010;
	background-color: white;
	border-radius: 8px;
	margin-bottom: 20px;
  }
  .form-group {
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
	width: 100%;
	padding: 5px;
	font-size: 18px;
	border: 1px solid rgba(128, 128, 128, 0.199);
	margin-top: 5px;
  }
  
  textarea {
	resize: vertical;
  }
  button[type="submit"] {
	width: 100%;
	border: none;
	outline: none;
	padding: 20px;
	font-size: 24px;
	border-radius: 8px;
	font-family: "Montserrat";
	color: rgb(27, 166, 247);
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
	transition: 0.3s ease background-color;
  }
  button[type="submit"]:hover {
	background-color: rgb(214, 226, 236);
  }
  #status {
	width: 90%;
	max-width: 500px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	border-radius: 8px;
  }
  #status.success {
	background-color: rgb(211, 250, 153);
	animation: status 4s ease forwards;
  }
  #status.error {
	background-color: rgb(250, 129, 92);
	color: white;
	animation: status 4s ease forwards;
  }
  @keyframes status {
	0% {
	  opacity: 1;
	  pointer-events: all;
	}
	90% {
	  opacity: 1;
	  pointer-events: all;
	}
	100% {
	  opacity: 0;
	  pointer-events: none;
	}
  }



.lista-bere{
	list-style-image: url(Images/bere1.jpg); 
}

.about-image{
	float:left;
	height: 228px;
	width: 300px;
	margin: 15px;
	

}
.about-image-brasov{
	float:left;
	height: 344px;
	width: 320px;
	margin: 15px;
	

}
.about-image-munchen{
	float:left;
	height: 338px;
	width: 338px;
	margin: 15px;

}
.cort-img{
	display: block;
  	margin: 0, auto;
  	width: 100%;
}

.main-footer{
	background-color: rgb(41, 195, 247);
	color: lightgreen;
	padding: .25em 0;
}
.main-footer-container{
	display: flex;
	align-items: center;
}
.main-footer-container ul{
	flex-grow: 1;
	text-align: end;
}
.footer-nav li{
	padding: 0 .5em;
}
.footer-nav img{
	width: 30px;
	height: 30px;
}

.btn{
	text-align: center;
	vertical-align: middle;
	padding: .67em;
	cursor: pointer;

}
.btn-detalii{
	color:white;
	background-color: rgb(41, 195, 247);
	border: none;
	border-radius: .3em;
	padding: 5px 5px;
	text-align: center;
	font-size: medium;
}
.btn-detalii:hover{
	background-color: rgb(25, 129, 163);
}
.btn-quiz{
	color:white;
	background-color: rgb(41, 195, 247);
	border: none;
	border-radius: .5em;
	padding: 10px 10px;
	text-align: center;
	font-size: large;
}
.center-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;

}
.intrebari-quiz{
	margin-left: 33%;
}
.ol-list li{

	margin: 10px;
	color: rgb(242, 142, 28) ;
	
}

.animation{
	height: 100px;
	width: 100px;
	margin: 0px;
}
